
.resume-header{
    display:flex;
    flex-direction: column;
    
}
.personal-section{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(223, 215, 215);
}
.header{
    width: 100%;

}
